MONGO_URI=mongodb://[username]:[password]@mongodb:27017/taskpulse?authSource=admin
PORT=5002
JWKS_URI=http://auth-service:5001/.well-known/jwks.json


REDIS_USERNAME=<user-name>
REDIS_PASSWORD=<pass-word>

CORS_ORIGIN=