DATABASE_URL=postgresql://[username]:[password]@postgres:5432/[database_name]
JWT_KEY_ID=task-pulse-key-1
JWT_PUBLIC_KEY ="<-----BEGIN PUBLIC KEY-----
Complete Code
-----END PUBLIC KEY----->"

JWT_PRIVATE_KEY="<-----BEGIN PUBLIC KEY-----
Complete Code
-----END PUBLIC KEY----->"