DATABASE_URL=postgresql://[username]:[password]@postgres:5432/[database_name]

JWT_PUBLIC_KEY ="<-----BEGIN PUBLIC KEY-----
Complete Code
-----END PUBLIC KEY----->"

JWT_PRIVATE_KEY="<-----BEGIN PUBLIC KEY-----
Complete Code
-----END PUBLIC KEY----->"